<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>AntiSite</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
   <filter>
    <display-name>LoginFilter</display-name>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>SelectUserController</display-name>
    <servlet-name>SelectUserController</servlet-name>
    <servlet-class>com.controller.SelectUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectUserController</servlet-name>
    <url-pattern>/selectuser.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>ForgotController</display-name>
    <servlet-name>ForgotController</servlet-name>
    <servlet-class>com.controller.ForgotController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotController</servlet-name>
    <url-pattern>/forgot.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>changepwd</display-name>
    <servlet-name>changepwd</servlet-name>
    <servlet-class>com.controller.changepwd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>changepwd</servlet-name>
    <url-pattern>/changepwd.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginUser</display-name>
    <servlet-name>LoginUser</servlet-name>
    <servlet-class>com.controller.LoginUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginUser</servlet-name>
    <url-pattern>/login.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>contactus</display-name>
    <servlet-name>contactus</servlet-name>
    <servlet-class>com.controller.contactus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>contactus</servlet-name>
    <url-pattern>/contactus.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeSecurityQue</display-name>
    <servlet-name>ChangeSecurityQue</servlet-name>
    <servlet-class>com.controller.ChangeSecurityQue</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeSecurityQue</servlet-name>
    <url-pattern>/changesec.do</url-pattern>
  </servlet-mapping>
</web-app>